.featured-projects {
  max-height: 100vh;
  width: 100%;
  margin-top: 20px;
}

.featured-projects h2 {
  margin-left: 40%;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.479);
  display: inline-block;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.479);
  margin-bottom: 20px;
}
.elem {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d8e4dd;
  top: -100%;
  left: 0;
  transition: all ease-in 0.2s;
}
.elem:hover .overlay {
  top: 0;
}

.elem h3,
p {
  z-index: 1;
}
