@font-face {
  font-family: "Gilroy";
  src: url("./assets/Gilroy-ExtraBold.otf") format("otf"),
    /* Replace with your file path */ url("./assets/Gilroy-Light.otf")
      format("otf"); /* Replace with your file path */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
:root[data-theme="light"] {
  --text: #0f0f0f;
  --background: #ffffff;
  --primary: #155630;
  --secondary: #d8e4dd;
  --accent: #c20003;
}
:root[data-theme="dark"] {
  --text: #f0f0f0;
  --background: #000000;
  --primary: #a9eac4;
  --secondary: #1b2720;
  --accent: #ff3d40;
}
:root {
  --linearPrimarySecondary: linear-gradient(#155630, #d8e4dd);
  --linearPrimaryAccent: linear-gradient(#155630, #c20003);
  --linearSecondaryAccent: linear-gradient(#d8e4dd, #c20003);
  --radialPrimarySecondary: radial-gradient(#155630, #d8e4dd);
  --radialPrimaryAccent: radial-gradient(#155630, #c20003);
  --radialSecondaryAccent: radial-gradient(#d8e4dd, #c20003);
}
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  background-color: white;
  z-index: 10;
  height: auto;
}
#fixed-img {
  width: 300px;
  height: 400px;
  z-index: 99;
  position: fixed;
  right: 20%;
  top: 20%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  transition: all ease-in 0.1s;
}
.featured-projects {
  height: 100vh;
  width: 100%;
  margin-top: 20px;
}

.featured-projects h2 {
font-size: 1rem;
color: rgba(0, 0, 0, 0.582);
margin-left: 3vw;
display: flex;
align-items: center;
gap: 10px;
margin-top: 20px;
margin-bottom: 20px;
}
.circle{
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}
.elem {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d8e4dd;
  top: -100%;
  left: 0;
  transition: all ease-in 0.2s;
}
.elem:hover .overlay {
  top: 0;
}

.elem h1,
p {
  z-index: 1;
}

.elem h1{
  font-size: 3vw;
}

